@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   
}

:root {
    --bebasNeue: "Bebas Neue", sans-serif;
    --josefinSans:  "Josefin Sans", sans-serif;
    --barlow: "Barlow Condensed", sans-serif;
}

body {
    
 
    /* box-shadow:
        inset 0px 200px 10000px 0 rgba(0, 0, 0, 0.75),
        inset 0 -200px 10000px 0 rgba(0, 0, 0, 0.75),
        inset 200px 0px 10000px 0 rgba(0, 0, 0, 0.75),
        inset -200px 0px 10000px 0 rgba(0, 0, 0, 0.75)
    ; */
    
    /* background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/2f42605e-e786-4a06-8612-ebc67c55ba6c/web/IN-en-20260629-TRIFECTA-perspective_76b17e8c-cff9-4c65-9938-08ca5029be6b_large.jpg);

    background-repeat: no-repeat; */

    

   /* background-image: radial-gradient(circle, #000000, #d31919); */
   
   
    

    
    
    width: 100%;
    height: 300vh;
    background-color: rgb(0, 0, 0);
}

#nav-Container {



   
    /* box-shadow:
        inset 0px 200px 10000px 0 rgba(0, 0, 0, 0.75),
        inset 0 -200px 10000px 0 rgba(0, 0, 0, 0.75),
        inset 200px 0px 10000px 0 rgba(0, 0, 0, 0.75),
        inset -200px 0px 10000px 0 rgba(0, 0, 0, 0.75)
    ; */

    
    width: 100%;
    height: 35%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/2f42605e-e786-4a06-8612-ebc67c55ba6c/web/IN-en-20260629-TRIFECTA-perspective_76b17e8c-cff9-4c65-9938-08ca5029be6b_large.jpg);

    background-repeat: no-repeat;
    

    
}

.items {
    
   width: 100%;
   
   

    background: linear-gradient( rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.7) 30%,);

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
  
    
    
    /* z-index: 3; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    /* padding: 0 20.5rem; */
    /* padding: 0px 100px; */
    
    
}

.nav-Logo {
    

    width: 12em;
    

}

.nav-Buttons {
   
    
    display: flex;
    gap: 20px;

}

.button {
    
    border-radius: 5px;
    background-color: red;
    font-size: 15px;
    padding: 4px 9px;
    border: none;
    color: white;
    font-weight: 500;
   

}

.language {
    border: 1px double rgb(255, 255, 255);
    background-color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 4px 16px;
    color: rgb(255, 255, 255);
    background: transparent;
}

.curve-Border {
    
    height: 15%;
    position: absolute;
    width: 100%;
   
    top: 95%;
    border-top-left-radius: 100% ; 
    border-top-right-radius: 100%;
    border-top: 5px solid red;
    border-bottom: none;
    
    /* background: linear-gradient(180deg,rgb(9, 23, 223) 0%, rgb(20, 77, 201) 15%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%); */
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    
    
}

.tranding {
    
    width: 100%;
    position: relative;
    
  
}

.tranding h1 {
    border: 1px solid red;
    display: flex;
    
    
    width: 70%;
    margin: auto;
    color: white;
    
}

.main-Container {
    border: 1px solid rgb(9, 255, 0);
    margin: 20px auto;
    width: 70%;
    display: flex;
    gap: 20px;
}

img {
    width: 10rem;

}

#heading {
    width: 80%;
    height: 55%;
    margin: auto;
    
    
}

.heading {
   
    width: 50%;
    height: 100%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
   
    gap: 35px;

}

#heading h1 {
    color: white;
    font-size: 3.75rem;
    padding: 0 30px;
}

#heading h4 {
    color: white;
    font-size: 1.25rem;
}

#heading p {
    color: white;
    font-size: 1rem;
}

#fname {
    
    background-color: rgba(0, 0, 0, 0.5) ;
    border: 1px solid red;
    width: 25rem;
    padding: 17px 15px;
    border-radius: 0.3rem;
    
}

.fname {
    
    
    color: white;
    font-weight: bold;
}

.row-Btn {
    width: 60%;
    
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    

    margin: 20px auto;
   

}

a {
    padding: 13px 30px 13px 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;

    border-radius: 0.5rem;
}