 * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 200vh;

        background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
        background-size: 42px 42px;
    }

    #container {
        
        background-color: rgb(51, 47, 47);
        width: 100%;
        height: 50vh;
        padding: 40px;
        display: grid;
        row-gap: 10px;

        grid-template-rows: 1fr 2fr ;
        grid-template-columns: 1fr ;
    }

   

    .logoName {


        grid-column-start: 1;
        grid-column-end: 4;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: "Google Sans", sans-serif;

      

    }

    a {
        text-decoration: none;
        font-size: 35px;


    }

    button {
      
       
        /* font-size: 20px; */
        background-color: rgb(226, 151, 10);

        border: 1px solid rgb(226, 151, 10);;
        border-radius: 10px;
 

        padding: 12.5px;
        
        
        
        color: white;

        font-family: "Google Sans", sans-serif;


    }

    .split-letter1 {
        color: rgb(255, 166, 1);
        font-weight: bold;
    }

    .split-letter2 {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .split-letter3 {
        color: rgb(3, 196, 29);
        font-weight: bold;
    }

    .heading {
        grid-column-start: 1;
        grid-column-end: 4;

        display: flex;
        flex-direction: column;
        row-gap: 5px;
        
        
        justify-content: center;
        align-items: center;
        
    }

    .heading h3 {
        color: rgb(194, 194, 194);
        font-size: 50px;
        font-family: "Google Sans", sans-serif;
        /* font-variation-settings: "GRAD" 200; */ 
        text-align: center;
    }

    .heading p {
        font-size: 20px;
        font-family: "Google Sans", sans-serif;
        font-weight: 500;
        color: white
    }